{% extends "master.html" %}
{% block main %}
<div class="col-sm-12">
<p><strong>You are authenticated!</strong> Please copy and paste the following code in the application:</p>
</div>

<div class="col-sm-12 ipsilon-oob"><pre>{{ response_info|urlencode }}</pre></div>

<div class="col-sm-12">
<p>You can close this browser window afterwards.</p>
</div>
{% endblock %}
