{% extends "layout.html" %}
{% block main %}
<div class="card-header">Federated Open Authentication</div>
<div class="card-body">You will be redirected to this application whenever another application requires you to authenticate.</div>
{% endblock %}
