{% extends "layout.html" %}
{% block toptext %}
<div class="alert alert-danger">
  {% if message: %}
    {{ message }}
  {% else %}
    Ipsilon encountered an unexpected internal error while trying to
    fulfill your request.
  {% endif %}
</div>
{% endblock %}
{% block main %}
<div class="card-header">500 - Internal Server Error</div>
<div class="card-body">
  <p>Please retry again.</p>
  <p>If the error persists, contact the server administrator to resolve
     the problem.</p>
</div>
{% endblock %}
