<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title }}{% endblock %}</title>

        <link rel="shortcut icon" type="image/vnd.microsoft.icon"
            href="//static.opensuse.org/favicon.ico"/>

        <link href="//static.opensuse.org/chameleon-3.0/dist/css/chameleon.css" rel="stylesheet">
        <link href='/ui/res/login.css' rel='stylesheet' type='text/css'>
        <meta name="generator" content="Ipsilon">
        <script defer src="//static.opensuse.org/chameleon-3.0/dist/js/jquery.slim.js" type="text/javascript" charset="utf-8"></script>
        <script defer src="//static.opensuse.org/chameleon-3.0/dist/js/bootstrap.bundle.js" type="text/javascript" charset="utf-8"></script>
        <script defer src="//static.opensuse.org/chameleon-3.0/dist/js/chameleon.js" type="text/javascript" charset="utf-8"></script>

        {%- if heads %}
          {%- for group, value in heads.items() %}
            {%- for head in value %}
              {{ head | safe }}
            {%- endfor %}
          {%- endfor %}
        {%- endif %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md noprint">
            <a class="navbar-brand" href="/">
                <img src="//static.opensuse.org/favicon.svg" class="d-inline-block align-top" alt="openSUSE" title="openSUSE" width="30" height="30">
                <span class="navbar-title">Login</span>
            </a>
            <div class="ml-auto">
            </div>
            <button class="navbar-toggler megamenu-toggler" type="button" data-toggle="collapse" data-target="#megamenu" aria-expanded="true">
                <svg class="bi bi-grid" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z">
                    </path>
                </svg>
            </button>
        </nav>
        <div id="megamenu" class="megamenu collapse"></div>
        <main class="page-content flex-fill">
            <div class="m-auto {% block cardwidths %}col-md-6{% endblock %}">
                {% block toptext %}{% endblock %}
                <div class="card">
                    {% block main %}{% endblock %}
                </div>
                {% block after_card %}{% endblock %}
            </div>
        </main>

        <div class="global-footer py-3 text-center">
            <div class="container">
                openSUSE Login uses OpenID powered by <a href="https://ipsilon-project.org/" target="_blank">Ipsilon</a>
            </div>
        </div>
    </body>
</html>
