{% extends "layout.html" %}
{% block main %}
<div class="card-header">Logged out</div>
<div class="card-body">
  {% if user.name %}
    <p>Something prevented a successful logout</p>
    <p>You are still logged in as {{ user.fullname }}</p>
  {% else %}
    <p>Successfully logged out.</p>
    <p>Return to <a href="{{ basepath }}/">Home</a> page</p>
  {% endif %}
</div>
{% endblock %}
