{% extends "layout.html" %}
{% block toptext %}
<div class="alert alert-danger">
  {% if message: %}
    {{ message }}
  {% else %}
    This page does not exist.
  {% endif %}
</div>
{% endblock %}
{% block main %}
<div class="card-header">404 - Not Found</div>
<div class="card-body">
  <p>If you think this is an error, contact the server administrator to resolve
     the problem.</p>
</div>
{% endblock %}
