{% extends "layout.html" %}
{% block toptext %}
<div class="alert alert-danger">
  {% if message: %}
    {{ message }}
  {% else %}
    Authentication was not succesful
  {% endif %}
</div>
{% endblock %}
{% block main %}
<div class="card-header">401 - Unauthorized</div>
<div class="card-body">
  <p><a href="{{ basepath }}/login" title="Login">Try to login again</a></p>
</div>
{% endblock %}
