{% extends "master-admin.html" %}
{% block main %}
{% if user.is_admin %}
    <h2>Login plugins</h2>

    {% for p in available %}
        <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">{{ p }}</div>
        <div class="col-md-3 col-sm-3 col-xs-6">
        {% if p in enabled %}
            <a class="btn btn-default" href="{{ basepath }}/admin/login/{{ p }}/disable">Disable</a>
            <a class="btn btn-default" href="{{ basepath }}/admin/login/{{ p }}">Configure</a>
        {% else %}
            <a class="btn btn-default" href="{{ basepath }}/admin/login/{{ p }}/enable">Enable</a>
        {% endif %}
        </div>
        </div>
    {% endfor %}

    <h3>Plugins order</h3>
    <p>[list here and form button to change?]</p>
{% endif %}
{% endblock %}