{% extends "master-admin.html" %}
{% block main %}
    <h2>{{ title }}</h2>
    {% if message %}
    <div class="alert alert-{{message_type}}">
        <p>{{ message }}</p>
    </div>
    {% endif %}
    <div id="options">
        <form role="form" id="{{ name }}" action="{{ action }}" method="post" enctype="application/x-www-form-urlencoded">

        <div class="form-group">
        <label for="order">Login plugins order:</label>
            <input type="text" class="form-control" name="order" value="{{ ', '.join(options) }}" />
        </div>
        <span class="help-block">Plugins order</span>

        <button id="submit" class="btn btn-primary" name="submit" type="submit" value="Submit">
            Save
        </button>
        <a href="{{ basepath }}/admin" class="btn btn-default" title="Back">Back</a>
        </form>
    </div>
{% endblock %}

