{% extends "master-admin.html" %}
{% block main %}
    <h2>{{ title }}</h2>
    {% if message %}
    <div class="alert alert-{{message_type}}">
        <p>{{ message }}</p>
    </div>
    {% endif %}
    <div id="options">
        <form role="form" id="{{ name }}" action="{{ action }}" method="post" enctype="application/x-www-form-urlencoded">

        {% for o in options_order %}
            <div class="form-group">
            <label for="{{ o }}">{{ o }}:</label>
                <input type="text" class="form-control" name="{{ o }}" value="{{ plugin.get_config_value(o) }}">
            </div>
            <span class="help-block">{{ plugin.get_config_desc(o) }}</span>
        {% endfor %}

        <button id="submit" class="btn btn-primary" name="submit" type="submit" value="Submit">
            Save
        </button>
        <a href="{{ back }}" class="btn btn-default" title="Back">Back</a>
        </form>
    </div>
{% endblock %}
