{% extends "master-admin.html" %}
{% block main %}
{% if user.is_admin %}
    <h2>Provider plugins</h2>

    {% for p in available %}
        <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">{{ p }}</div>
        <div class="col-md-3 col-sm-3 col-xs-6">
        {% if available[p] in enabled %}
            <a class="btn btn-default" href="{{ baseurl }}/disable/{{ p }}">Disable</a>
            <a class="btn btn-default" href="{{ baseurl }}/{{ p }}">Configure</a>
        {% else %}
            <a class="btn btn-default" href="{{ baseurl }}/enable/{{ p }}">Enable</a>
        {% endif %}
        </div>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}
