{% extends "layout.html" %}
{% block maincontent %}
<div class="row mb-3">
    <div class="col text-center">
        <p class="h3"><strong>{{ login_target }}</strong> wants to use your Fedora Account</p>
        <p>enter your Fedora Account credentials below to authorize <strong>{{ login_target }}</strong></p>
    </div>
</div>
<div class="row justify-content-around">
    <div class="col-5">
        <form method="post" action="{{ action }}" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="ipsilon_transaction_id" id="ipsilon_transaction_id" value="{{ ipsilon_transaction_id}}"/>

            <div class="card">
                <div class="alert alert-info text-center mb-0">
                    <div>By using a Fedora account, you agree to follow the <a href='https://docs.fedoraproject.org/en-US/project/code-of-conduct/'>Fedora&nbsp;Code&nbsp;of&nbsp;Conduct</a>.</div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <input class="form-control" id="username" name="login_name" placeholder="Username" autofocus value="{{ username | e }}" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="password" name="login_password" type="password" placeholder="Password" />
                    </div>
                    <div class="form-group mb-0">
                        <input class="form-control" id="otp" name="login_otp" placeholder="One-Time-Password (if you have one)" />
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a target="_blank" class="btn btn-link pl-0" href="https://accounts.fedoraproject.org/forgot-password/ask">Forgot password?</a>
                    <input class="btn btn-primary" type="submit" id="loginbutton" value="Log in" />
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <div class="text-center">Don't have a Fedora Account? <a target="_blank" href="https://accounts.fedoraproject.org/">Sign up now</a>.</div>
    </div>
</div>
{% endblock %}
