{% extends "layout.html" %}
{% block maincontent %}
<h1 class="text-center"><strong>400 - Bad Request</strong></h1>
{% if message: %}
  <p class="text-center">{{ message }}</p>
{% else %}
  <p class="text-center">Your client made a request that could not be understood.</p>
{% endif %}
<p class="text-center">If the error persists and if you think this is an error, contact <a href="https://pagure.io/fedora-infrastructure/issues">Fedora Infra</a> to resolve the problem.</p>
{% endblock %}
