{% extends "layout.html" %}
{% block maincontent %}
<h1 class="text-center"><strong>Nothing to Authenticate</strong></h1>
<p class="text-center">
    You will be redirected to this service when an application requires authentication against your Fedora Account
</p>
<p class="text-center">
    Visit <a href="https://accounts.fedoraproject.org">Fedora Accounts</a> to create or modify your Fedora Account
</p>
{% endblock %}

