{% extends "layout.html" %}
{% block maincontent %}
  <h1 class="text-center"><strong>500 - Internal Server Error</strong></h1>
  {% if message: %}
    <p class="text-center">{{ message }}</p>
  {% else %}
    <p class="text-center">The Fedora Accounts Ipsilon encountered an unexpected internal error while trying to
       fulfill your request.</p>
  {% endif %}
  <p class="text-center">Please retry again.</p>
  <p class="text-center">If the error persists, contact <a href="https://pagure.io/fedora-infrastructure/issues">Fedora Infra</a> to resolve the problem.</p>
{% endblock %}
