<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>

        <link rel="shortcut icon" type="image/vnd.microsoft.icon"
            href="{{ basepath }}/ui/res/favicon.ico"/>

        <link href="https://apps.fedoraproject.org/global/fedora-bootstrap-1.5.0/fedora-bootstrap.min.css" rel="stylesheet">
        <link href='{{ basepath }}/ui/res/login.css' rel='stylesheet' type='text/css'>
        <meta name="generator" content="Ipsilon">


        {%- if heads %}
          {%- for group, value in heads.items() %}
            {%- for head in value %}
              {{ head | safe }}
            {%- endfor %}
          {%- endfor %}
        {%- endif %}
    </head>
    <body>
        <div class="navbar navbar-light masthead">
            <div class="container justify-content-between">
                <img alt="logo" src="{{ basepath }}/ui/res/FedoraAccounts.png" height=40px />
                <div>
                {% if user.name %}
                    <a href="{{ basepath }}/logout" class="btn btn-sm btn-outline-primary">Log Out</a>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="bodycontent py-5 min-height-50">
            <div class="container">
            {% if error %}
            <div class="row mb-3">
                <div class="col">
                    <div class="alert alert-danger"><strong>{{error}}</strong></div>
                </div>
            </div>
            {% endif %}
             {% block maincontent %}{% endblock %}
            </div>
        </div>

            
            {#<div class="container py-5">
                <div class="m-auto {% block cardwidths %}{% endblock %}">
                    {% block toptext %}{% endblock %}
                    <div class="card">
                        {% if self.maintitle() %}
                        <div class="card-header">
                            {% block maintitle %}{% endblock %}
                        </div>
                        {% endif %}
                        <div class="card-body">
                            {% block main %}{% endblock %}
                        </div>
                    </div>
                    {% block after_card %}{% endblock %}
                </div>
            </div>#}

        <div class="footer py-5 text-white">
            <div class="container py-4">
                    <div class="row footerlinks justify-content-center">
                       <div class="col-sm-3 col-4 mt-3">
                          <div>
                             <dl>
                                <dt class="text-uppercase h4"><strong>About</strong></dt>
                                <dd><a href="https://getfedora.org/">Get Fedora Linux</a></dd>
                                <dd><a href="https://getfedora.org/en/sponsors/">Sponsors</a></dd>
                                <dd><a href="https://fedoramagazine.org">Fedora Magazine</a></dd>
                                <dd><a href="https://fedoraproject.org/wiki/Legal:Main#Legal">Legal</a></dd>
                             </dl>
                          </div>
                       </div>
                       <div class="col-sm-3 col-4 mt-3">
                          <div>
                             <dl>
                                <dt class="text-uppercase h4"><strong>Support</strong></dt>
                                <dd><a href="https://fedoraproject.org/wiki/Communicating_and_getting_help">Get Help</a></dd>
                                <dd><a href="https://ask.fedoraproject.org/">Ask Fedora</a></dd>
                                <dd><a href="https://fedoraproject.org/wiki/Common_F33_bugs">Common Bugs</a></dd>
                                <dd><a href="https://developer.fedoraproject.org/">Fedora Developer Portal</a></dd>
                             </dl>
                          </div>
                       </div>
                       <div class="col-sm-3 col-4 mt-3">
                          <div>
                             <dl>
                                <dt class="text-uppercase h4"><strong>Community</strong></dt>
                                <dd><a href="https://fedoraproject.org/wiki/Join">Join Fedora</a></dd>
                                <dd><a href="https://fedoraproject.org/wiki/Overview">About Fedora</a></dd>
                                <dd><a href="http://fedoraplanet.org">Planet Fedora</a></dd>
                                <dd><a href="https://accounts.fedoraproject.org/">Fedora Accounts</a></dd>
                             </dl>
                          </div>
                       </div>
                    </div>
                    <div class="row footerlinks">
                       <div class="col-12 text-center">
                          <p> Fedora is sponsored by Red Hat. <a href="https://www.redhat.com/en/technologies/linux-platforms/articles/relationship-between-fedora-and-rhel">Learn more about the relationship between Red Hat and Fedora »</a> </p>
                          <div class="py-3"> <a href="https://www.redhat.com/"><img class="rh-logo" src="{{ basepath }}/ui/res/redhat.png" alt="Red Hat Logo"></a> </div>
                          <p> © 2021 Red Hat, Inc. and others. </p>
                       </div>
                    </div>
                 </div>
        </div>
    </body>
</html>
