{% extends "layout.html" %}
{% block maincontent %}
<div class="text-center">
{% if user.name %}
    <p class="h3">Something prevented a successful logout</p>
    <p>You are still logged in as {{ user.fullname }}</p>
{% else %}
    <p class="h3">Successfully logged out.</p>
{% endif %}
</div>
{% endblock %}
