{% extends "layout.html" %}
{% block maincontent %}
  <h1 class="text-center"><strong>404 - Not Found</strong></h1>
  {% if message: %}
    <p class="text-center">{{ message }}</p>
  {% else %}
    <p class="text-center">This page does not exist.</p>
  {% endif %}
  <p class="text-center">If you think this is an error, contact <a href="https://pagure.io/fedora-infrastructure/issues">Fedora Infra</a> to resolve the problem.</p>
{% endblock %}
