{% extends "layout.html" %}
{% block maincontent %}
  <h1 class="text-center"><strong>401 - Unauthorized</strong></h1>
  {% if message: %}
    <p class="text-center">{{ message }}</p>
  {% else %}
    <p class="text-center">Authentication was not succesful</p>
  {% endif %}
  <p class="text-center"><a href="{{ basepath }}/login" title="Login">Try to login again</a></p>
{% endblock %}
