.masthead{
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 10px 2px #ddd;
  position: relative;
}

.min-height-50{
  min-height: 50vh;
}

.footer a{
  color:rgba(255,255,255,0.5);
  border-bottom: 1px dotted rgba(255,255,255,0.2)
}
.ipsilon-oob pre {
  font-size: 110%;
}
