<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 login-pf"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="login-pf">
<!--<![endif]-->
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ basepath }}/ui/css/ipsilon.css" rel="stylesheet" media="screen, print">
    {%- if heads %}
      {%- for group, value in heads.items() %}
        {%- for head in value %}
    {{ head }}
        {%- endfor %}
      {%- endfor %}
    {%- endif %}
  </head>
  <body>
    <a href="{{ basepath }}/" id="badge" tabindex="-1">
      <img src="{{ basepath }}/ui/img/logo.svg" alt="Ipsilon IdP" />
    </a>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="brand">
            <img src="{{ basepath }}/ui/img/brand-lg.png" alt="Ipsilon">
          </div>
        </div>
        {% block main %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
