{% extends "master-admin.html" %}
{% block main %}
    <h2>{{ title }}</h2>
    {% if message %}
    <div class="alert alert-{{message_type}}">
        <p>{{ message }}</p>
    </div>
    {% endif %}
    <div id="options">
        <form role="form" id="{{ name }}" action="{{ action }}" method="post" enctype="application/x-www-form-urlencoded">

        <div class="form-group">
            <label for="provider_id">Provider ID:</label>
            {{ data.provider_id }}
        </div>

        <div class="form-group">
            <label for="name">Name:</label>
            {% if user.name == data.owner or user.is_admin %}
                <input type="text" class="form-control" name="name" value="{{ data.name }}"/>
            {% else %}
                {{ data.name }}
            {% endif %}
        </div>

        <div class="form-group">
            <label for="default_nameid">Default NameID:</label>
            {% if user.is_admin -%}
                <input type="text" class="form-control" name="default_nameid" value="
            {%- endif -%}
                {{ data.default_nameid }}
            {%- if user.is_admin -%}
                "/>
            {%- endif %}
        </div>

        <div class="form-group">
            <label for="allowed_nameids">Allowed NameIDs:</label>
            {% if user.is_admin -%}
                <input type="text" class="form-control" name="allowed_nameids" value="
            {%- endif -%}
                {{ data.allowed_nameids|join(', ') }}
            {%- if user.is_admin -%}
                "/>
            {%- endif %}
        </div>

        {% if user.is_admin %}
            <div class="form-group">
                <label for="owner">User Owner:</label>
                <input type="text" class="form-control" name="owner" value="{{ data.owner }}"/>
            </div>
        {% endif %}

        <button id="submit" class="btn btn-primary" name="submit" type="submit" value="Submit">
            Save
        </button>
        <a href="{{ backurl }}" class="btn btn-default" title="Back">Back</a>
        </form>
    </div>
{% endblock %}
