{% extends "master-admin.html" %}
{% block main %}
<h2>Service Providers</h2>

<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="{{ baseurl }}/new">Add New</a>
    </div>
</div>
<hr/>
{% for p in providers %}
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
            <a href="{{ baseurl }}/sp/{{ p.name }}">{{ p.name }}</a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            {{ p.provider_id }}
            <!-- TODO: add javascript popup to ask for confirmation ? -->
            <a class="btn btn-default" href="{{ baseurl }}/sp/{{ p.name }}/delete">Delete</a>
        </div>
    </div>
{% endfor %}
{% endblock %}
