{% extends "layout.html" %}
{% block toptext %}
{% endblock %}
{% block maincontent %}
<h1 class="text-center"><strong>This is the OpenID page for {{username}}.</strong></h1>
<p>This page is primarily used internally</p>
{% endblock %}
