/* Intentionally shocking, for development purpose */

html {
    height: 100%;
}

body {
    overflow: auto;
    position: relative;
    background-color: #DEAD42;
    border-width: 0;
    font-family: "Liberation Sans",Arial,Sans;
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100%;
}

textarea[readonly] {
    color: Gray;
}

/* ---- Container ---- */

#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto 0;
}

/* ---- Content ---- */
#content {
    position: absolute;
    top: 42%;
    left: 42%;
    right: 42%;
    bottom: 42%;
}

